.footer {
  background-color: var(--primary-color);
  color: var(--neutral-color);
  display: flex;
  justify-content: space-around;

  & .title {
    font-weight: 700;
    font-size: 28px;
  }

  & .container {
    padding: var(--padding);
  }

  & a {
    text-decoration: none;
    color: var(--neutral-color);
  }
}